* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(Img/fundo.png) repeat-x;
}


#principal {
    margin: auto;
    width: 700px;
    height: 200px;
}

#nav-bar-horizontal ul {
    list-style: none;
    float: left;
}

#nav-bar-horizontal li {
    float: left;
}

#nav-bar-horizontal a {
    text-decoration: none;
    padding: 15px 22px;
    line-height: 1.2em;
    color: white;
    background-color: #DF0101;
    font-size: 15px;

}

#nav-bar-horizontal a:hover {
    color: black;
}

#nav-bar-horizontal {
    position: absolute;
    top: 20%;
}

#home #nav-bar-horizontal .home a {
    background-color: #FA5858;
}

#top {
    background: url(Img/detalhe-topo.png) no-repeat right bottom;
    height: 100%;
}

#logo {
    margin-top: 20px ;
}